// Colors
$colBlue: #35495E;
$colRed: #FF3E17;
$colWhite: #fff;
$colGray: #f2f2f2;
$colGrayDark: #BDC0C2;
$headerGradient: linear-gradient(rgb(0, 0, 0) -6.85%, rgba(0, 0, 0, 0) 100%);
$boxShadow: 0 0 15px 0 rgba(50,50,50,.15);

// Animations
$animHomeSlides: .4s ease-in;
$animButtons: border-color .2s ease-in, color .2s ease-in, background-color .2s ease-in;
$animLinks: color .2s ease-out;
$animFill: fill .2s ease-out;

// Sizes
$base-font-size: 16px;

$borRad: 4px;

$tablet: 768;
$large: 1024;
$desktop: 1400px;

$content: 1000px;

// Fonts
